/* Excursion styles */

.excursion {
    margin-bottom: 4rem;
    overflow: hidden;
    position: relative;
    height: 40rem;
}

.excursion-image {
    position: absolute;
    top: -160px;
    left: 0;
    min-width: 100%;
}

.excursion-body {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}

.excursion-title {
    bottom: 8rem;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/* Places styles */

.places .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.places h2 {
    font-weight: 400;
}

.places-divider {
    margin: 5rem 0;
}

.place-heading {
    font-weight: 300;
    line-height: 1;
}

.place-rating {
    font-size: 1rem;
    vertical-align: top;
}

.place-image {
    border-radius: 10px;
    width: 500px;
    max-height: 500px;
}

@media (min-width: 40em) {
    .place-heading {
        font-size: 50px;
    }
}
