.places .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.places h2 {
    font-weight: 400;
}

.places-divider {
    margin: 5rem 0;
}

.places-divider-last {
    margin: 5rem 0 1rem 0;
}

.place-heading {
    font-weight: 300;
    line-height: 1;
}

@media (min-width: 40em) {
    .place-heading {
        font-size: 50px;
    }
}
